<div>
    <form class="center">
        <mat-form-field>
            <mat-label>Amount Spent On</mat-label>
            <input type="text" matInput [formControl]='spenton'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Amount Spent</mat-label>
            <input type="number" matInput [formControl]='spent'>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)='add()'>Add</button>
    </form>

</div>
<h1 align="right">
    Total Amount Spent : {{totalSpent}}
</h1>
<div class='table1'>
    <table>
        <tr>
            <th>Amount Spent On </th>
            <th>Amount Spent</th>
        </tr>
        <tr *ngFor=' let x of total,let i=index '>
            <td>{{x.name}}</td>
            <td>{{x.spent}}</td>
        </tr>
    </table>
</div>